@import "../../app.scss";

.about {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  width: 100%;



  .wrapper {
    width: 80%;
    padding: 50px;
    padding-top: 0px;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 90px;


    @include mobile {
      width: 100%;
      height: 100%;
    }

    .item {
      display: flex;
      gap: 90px;
      padding-top: 15%;

      @include mobile {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: none !important;

      }



      .imageContainer {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include smallPhone {
          display:none;
        }

        img {
          height: 200px;


        }

      }

      .textContainer {
        border: solid 1px orange;
        border-radius: 25px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 1px;
        align-items: center;

        @include mobile {
          align-items: center;
          padding: 20px;
          width: 100%;
          font-size: 16px;
          line-height: 21px;

        }

        @include smallPhone {
          font-size: 15px;
        }


      }
  }

  }
}