html {

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;


}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: 'Press Start 2P', system-ui;*/
 /* font-family: 'Delicious Handrawn', cursive;
  font-family: 'Golos Text', sans-serif;
  font-family: 'Inconsolata', monospace;
  font-family: 'Sacramento', cursive;*/
  font-family: 'Inconsolata', monospace;


}

body {
  background-color: #0c0c1d;
  overscroll-behavior-y: none;


  color: lightgray;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

@mixin mobile {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin tabletHori {
  @media (max-width: 824px) {
    @content
  }

}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1440px) {
    @content;
  }

}

@mixin semi {
  @media (max-width: 1220px) {
    @content;
  }

}


@mixin smallPhone {
  @media (max-height: 700px) {
    @content;
  }
}